<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209382785127-d7lrk4dkssh8dppi9qnqmi8n89rao06u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209382785127-d7lrk4dkssh8dppi9qnqmi8n89rao06u</string>
	<key>API_KEY</key>
	<string>AIzaSyDWPS1Z3I0A_JvfYzZKp3B0mnhOYwXltM0</string>
	<key>GCM_SENDER_ID</key>
	<string>209382785127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.adcpn.userapp</string>
	<key>PROJECT_ID</key>
	<string>adcpn-8958a</string>
	<key>STORAGE_BUCKET</key>
	<string>adcpn-8958a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209382785127:ios:c1120194c6f40ff133d4c2</string>
</dict>
</plist>